<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                                Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container name="anyNameYouLike">
        <register type="DependencyInjection_Unity.IAnimal, DependencyInjection_Unity" mapTo="DependencyInjection_Unity.Cat, DependencyInjection_Unity"></register>
        <register type="DependencyInjection_Unity.IPeople, DependencyInjection_Unity" mapTo="DependencyInjection_Unity.Kid, DependencyInjection_Unity"></register>
        <register type="DependencyInjection_Unity.IHouse, DependencyInjection_Unity" mapTo="DependencyInjection_Unity.Apartment, DependencyInjection_Unity"></register>
      </container>
    </containers>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>